@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  scroll-padding: 14rem;
}

.orange-filter {
  filter: invert(53%) sepia(91%) saturate(4575%) hue-rotate(360deg)
    brightness(100%) contrast(107%);
}
